body {
	padding-top: 70px;
	padding-bottom: 30px;
}
.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 1.5em;
	background-color: #f5f5f5;
	text-align: center;
}
#min_playtime_label {
	padding-left: 0.5em;
	padding-right: 0.5em;
}
#updating {
	display: none;
	position: fixed;
	top: 70px;
	left: 2px;
}
